body{
    margin:0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    background-color:rgb(170, 246, 131);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
.dflex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

}

#amount{
    height:200px;
    align-items: first baseline;
}

#popup{
    height:100%;
    width:100%;
    top:0;
    background-color:rgb(170, 246, 131,0.6);
    position: absolute;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
}

#popup-content{
    background-color: #FFD97D;
    border-radius: 20px;
    height:300px;
    width:300px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

input{
    width:56%;
    height:40px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 25px;
}

#header{
    background-color: #60D394;
}

/* #label{
    background-color: #FF9B85;
} */


button{
    height:50px;
    width: 125px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}

button:hover{
    box-shadow: 10px 10px 5px gray;
}